@media (max-width: $mobile-max-width) {
  .home-content-container {
    padding-top: 0px;
    width: 100%;
    height: 500px;
    display: block;
    position: relative;
  }

  .home-content-left-column {
    @include span(12 of 12 0);
    height: auto;
    display: block;
  }

  .home-content-right-column {
    display: none;
  }
}
