@media (max-width: $mobile-max-width) {
  .home-artist-component {
    width: 100%;
    margin-bottom: 0px;
    height: 220px;
  }

  .home-artist-info {

    padding: 7px 5px;
    height: 25%;
  }

  .home-artist-info-date {
    margin: 0px 15px;
    font-size: 16px;
    color: #FFF;
    font-family: $fontmpsecond;
    line-height: 20px;
  }

  .home-artist-info-title {
    display: block;
    margin: 0px 15px 0px 15px;
    text-transform: uppercase;
    font-size: 20px;
    color: #FFF;
    font-family: $fontmpsecond;
    line-height: 28px;
  }

  .home-artist-image {
    position: absolute;
    margin: 0;
    height: 184px;
    width: 100%
  }

  .home-artist-overlay {
    @include opacity(.6);
    background-color: $dark;
    bottom: 0;
    height: 95px;
    position: absolute;
    width: 100%;
  }

  .home-artist-description {
    margin: 5px 15px 0px 15px;
    font-size: 14px;
    color: $light;
    position: absolute;
    bottom: 0;
    font-family: $fontmpsecond;
    line-height: 18px;
  }
}
