//Compass imports
@import 'compass';
@import 'compass/reset';
@import 'compass/css3/box-shadow';
@import 'compass/css3/text-shadow';
@import 'compass/css3/filter';
@import 'compass/css3/flexbox';
@import 'compass/css3/transition';

//External Libraries
@import "~susy/sass/susy";

@import "mixins";
@import "variables";
@import "base";

//Common
@import "./common/common-styles";
@import "./common/common-mobile-styles";

//Layouts
@import "./layouts/primary/primary-layout";

//Views
@import "./views/header/header-view-common";
@import "./views/home/home-view-common";
@import "./views/footer/footer-view";
@import "./views/news/news-view";
@import "./views/about/about-view";
@import "./views/artists/artists-view";
@import "./views/programme/programme-view";
@import "./views/info/info-view";
@import "./views/gallery/gallery-view";
@import "./views/galler-image-set/gallery-image-set-view";
@import "./views/artist/artist-view";
@import "./views/contact/contact-view";

//Containers
@import "./containers/header/header-container-common";
@import "./containers/header/header-container-mobile";
@import "./containers/home/home-container-common";
@import "./containers/home-slideshow/home-slideshow-container-common";
@import "./containers/home-slideshow/home-slideshow-container-mobile";
@import "./containers/home-content/home-content-container";
@import "./containers/home-content/home-content-container-mobile";
@import "./containers/home-artists/home-artists-container";
@import "./containers/footer/footer-container";
@import "./containers/footer/footer-container-mobile";
@import "./containers/news/news-container";
@import "./containers/about/about-container";
@import "./containers/about/about-container-mobile";
@import "./containers/artists/artists-container";
@import "./containers/programme/programme-container";
@import "./containers/info/info-container";
@import "./containers/gallery/gallery-container";
@import "./containers/galler-image-set/gallery-image-set-container";
@import "./containers/artist/artist-container";
@import "./containers/contact/contact-container";


//Components
@import "./components/header-secondary-navigation/header-secondary-navigation-component-common";
@import "./components/header-main-navigation/header-main-navigation-component-common";
@import "./components/header-main-navigation/header-main-navigation-component-mobile";
@import "./components/header-dropdown-menu/header-dropdown-menu-component-common";
@import "./components/home-slideshow/home-slideshow-component-common";
@import "./components/home-slideshow-item/home-slideshow-item-component-common";
@import "./components/home-artist/home-artist-component";
@import "./components/home-artist/home-artist-component-mobile";
@import "./components/home-info/home-info-component";
@import "./components/footer-navigation/footer-navigation-component";
@import "./components/artists-list-item/artists-list-item-component";
@import "./components/artists-list-item/artists-list-item-component-mobile";
@import "./components/artists-list/artists-list-component";
@import "./components/programme/programme-component";
@import "./components/programme-day/programme-day-component";
@import "./components/programme-day-item/programme-day-item-componet";
@import "./components/programme-day-item/programme-day-item-componet-mobile";
@import "./components/info/info-component";
@import "./components/info-item/info-item-component";
@import "./components/gallery/gallery-component";
@import "./components/gallery-list-item/gallery-list-item-component";
@import "./components/gallery-image-set/gallery-image-set-component";
@import "./components/gallery-image-set-list-item/gallery-image-set-list-item-component";
@import "./components/gallery-image-set-list-item/gallery-image-set-list-item-component-mobile";
@import "./components/artist/artist-component";
@import "./components/contact/contact-component";
