.contact-component {
  padding: 30px;
  width: 600px;
  height: 500px;
}

.contact-form-header {
  margin: 0 20px;
  font-size: 2rem;
  color: $red;
  text-transform: uppercase;
  padding-top: 15px;
  border-bottom: #CCC 1px solid;
}