@media (max-width: $mobile-max-width) {
  .artists-list-item-component {
    width: 100%;
    height: auto;
    &:not(:nth-child(3n)) {
      width: 100%;
    }
  }

  .artists-list-item-item-image {
    width: 100%;
    height: auto;
  }

  .artists-list-item-description {
    width: 100%;
  }
}
