.gallery-image-set-list-item {
  @include span(3 of 12);
  margin-bottom: gutter(8);
  width: 250px;
  padding-bottom: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity .15s;

  &:hover {
    opacity: .8
  }
}

.gallery-image-set-list-item-image {
  width: 240px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
