@media (max-width: $mobile-max-width) {
  .footer-container-top {
    height: 130px;
  }

  .footer-container-sponsors-banner {
    height: 170px;
    transform: scale(.43, .43);
    margin-left: -290px;
    margin-top: -40px
  }

  .footer-container-bottom {
    display: none;
  }
}
