.gallery-image-set-header {
  @extend %common-tile-header;
  background-color: $tilecolororange;
}

.gallery-image-set-header-title {
  @extend %common-tile-header-title;
}

.gallery-image-set-content {
  background-color: $light;
  padding: 15px 0 10px 0;
}

.gallery-image-set-title {
  @extend %common-tile-header;
  background-color: $tilecolorviolet;
}

.gallery-image-set-title-text {
  @extend %common-tile-header-title;
  height: 35px;
  font-size: 2rem;
  text-transform: none;
  padding: 6px;
  padding-top: 2px;
}
